Flow_Node-Red_Solgaleo_Prise.json
[
    {
        "id": "2217c56c.71908a",
        "type": "tab",
        "label": " Home Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a49e0b3a8a6c2a2",
        "type": "smartplug-control",
        "z": "2217c56c.71908a",
        "confignode": "bafa5978e1b68521",
        "name": "Prise Solgaleo",
        "ip": "192.168.1.144",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "c1c0b8922c9beb4f"
            ]
        ]
    },
    {
        "id": "c1c0b8922c9beb4f",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "0306b4b44f3276b5",
        "type": "inject",
        "z": "2217c56c.71908a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "a97008fb5f37354d"
            ]
        ]
    },
    {
        "id": "fdcbb92b0f8c3408",
        "type": "inject",
        "z": "2217c56c.71908a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "ec19a8f2a15460ba"
            ]
        ]
    },
    {
        "id": "a97008fb5f37354d",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "4a49e0b3a8a6c2a2"
            ]
        ]
    },
    {
        "id": "ec19a8f2a15460ba",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "4a49e0b3a8a6c2a2"
            ]
        ]
    },
    {
        "id": "0c314f023406d5d4",
        "type": "inject",
        "z": "2217c56c.71908a",
        "name": "Volt Query",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0-23 * * *",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "{\"namespace\":\"Appliance.Control.Electricity\"}",
        "payloadType": "json",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "6134e8e5cc58e3ed"
            ]
        ]
    },
    {
        "id": "6134e8e5cc58e3ed",
        "type": "smartplug-control",
        "z": "2217c56c.71908a",
        "confignode": "bafa5978e1b68521",
        "name": "Plug Voltage",
        "ip": "192.168.1.144",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "cac26a96b6c38c1a",
                "fae67452d2d42ff5",
                "0bb95e3009946cd9",
                "e2ec16e038309f3b"
            ]
        ]
    },
    {
        "id": "cac26a96b6c38c1a",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "f32d15bcb610ebbf",
        "type": "mqtt out",
        "z": "2217c56c.71908a",
        "name": "",
        "topic": "/elec/current",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b7cd95103905f99",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "047e81000696ed44",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 500,
        "wires": []
    },
    {
        "id": "b1c45d6446df468f",
        "type": "mqtt in",
        "z": "2217c56c.71908a",
        "name": "",
        "topic": "/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b7cd95103905f99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "13fe7a8e9aa2345e"
            ]
        ]
    },
    {
        "id": "13fe7a8e9aa2345e",
        "type": "switch",
        "z": "2217c56c.71908a",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "ce25473d8025e7ca"
            ],
            [
                "2a7e4483b73d721d"
            ]
        ]
    },
    {
        "id": "ce25473d8025e7ca",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "1f837da728f5ea57"
            ]
        ]
    },
    {
        "id": "2a7e4483b73d721d",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "1f837da728f5ea57"
            ]
        ]
    },
    {
        "id": "1f837da728f5ea57",
        "type": "smartplug-control",
        "z": "2217c56c.71908a",
        "confignode": "bafa5978e1b68521",
        "name": "Prise Solgaleo",
        "ip": "192.168.1.144",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "1903f1259505983f"
            ]
        ]
    },
    {
        "id": "1903f1259505983f",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "7db98f6aa5ead3b4",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "set sunrise time",
        "rules": [
            {
                "t": "set",
                "p": "payload.sunrise",
                "pt": "msg",
                "to": "payload.sunrise",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "7d2263f3efab222f"
            ]
        ]
    },
    {
        "id": "8347ce9d27e9ee22",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "set sunset time",
        "rules": [
            {
                "t": "set",
                "p": "payload.sunset",
                "pt": "msg",
                "to": "payload.sunset",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 500,
        "wires": [
            [
                "7d2263f3efab222f"
            ]
        ]
    },
    {
        "id": "7d2263f3efab222f",
        "type": "switch",
        "z": "2217c56c.71908a",
        "name": "check what time sun goes out",
        "property": "$millis()/1000",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lt",
                "v": "payload.sunset",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "payload.sunrise",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "ec5a37c2d1d72ba8"
            ],
            [
                "cf5536049ebabc48"
            ]
        ]
    },
    {
        "id": "ec5a37c2d1d72ba8",
        "type": "switch",
        "z": "2217c56c.71908a",
        "name": "si plus petit que sunset",
        "property": "$millis()/1000",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lt",
                "v": "payload.sunrise",
                "vt": "msg"
            },
            {
                "t": "gte",
                "v": "payload.sunrise",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "45344dfd3b71de2a"
            ],
            [
                "a45d1f4b55a29477"
            ]
        ]
    },
    {
        "id": "45344dfd3b71de2a",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "il est minuit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "40bc8e545400e203"
            ]
        ]
    },
    {
        "id": "40bc8e545400e203",
        "type": "smartplug-control",
        "z": "2217c56c.71908a",
        "confignode": "bafa5978e1b68521",
        "name": "Prise Solgaleo",
        "ip": "192.168.1.144",
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "a2d6670b902c6310"
            ]
        ]
    },
    {
        "id": "a45d1f4b55a29477",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "il est jour",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 400,
        "wires": [
            [
                "40bc8e545400e203"
            ]
        ]
    },
    {
        "id": "a2d6670b902c6310",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf5536049ebabc48",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "il est jour",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "1f325002324b3b34"
            ]
        ]
    },
    {
        "id": "1f325002324b3b34",
        "type": "smartplug-control",
        "z": "2217c56c.71908a",
        "confignode": "bafa5978e1b68521",
        "name": "Prise Solgaleo",
        "ip": "192.168.1.144",
        "x": 900,
        "y": 500,
        "wires": [
            [
                "02ccde074ab00a09"
            ]
        ]
    },
    {
        "id": "02ccde074ab00a09",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "e00a2a9e18477fb4",
        "type": "inject",
        "z": "2217c56c.71908a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "a2b9cf56ab67fc31"
            ]
        ]
    },
    {
        "id": "a2b9cf56ab67fc31",
        "type": "openweathermap",
        "z": "2217c56c.71908a",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Montbeliard",
        "country": "France",
        "language": "en",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "047e81000696ed44",
                "8347ce9d27e9ee22",
                "7db98f6aa5ead3b4"
            ]
        ]
    },
    {
        "id": "fae67452d2d42ff5",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "Electricity Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.electricity.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 620,
        "wires": [
            [
                "f32d15bcb610ebbf"
            ]
        ]
    },
    {
        "id": "0bb95e3009946cd9",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "Electricity Voltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.electricity.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "5d172f987469a2f6"
            ]
        ]
    },
    {
        "id": "e2ec16e038309f3b",
        "type": "change",
        "z": "2217c56c.71908a",
        "name": "Electricity Power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.electricity.power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 700,
        "wires": [
            [
                "97dbb39aadfd277f"
            ]
        ]
    },
    {
        "id": "5d172f987469a2f6",
        "type": "mqtt out",
        "z": "2217c56c.71908a",
        "name": "",
        "topic": "/elec/voltage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b7cd95103905f99",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "97dbb39aadfd277f",
        "type": "mqtt out",
        "z": "2217c56c.71908a",
        "name": "",
        "topic": "/elec/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b7cd95103905f99",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "3057172f3bad1040",
        "type": "mqtt in",
        "z": "2217c56c.71908a",
        "name": "",
        "topic": "/elec/current",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b7cd95103905f99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "2d6abbead792bb85",
                "1fd6eadbd5da1b37"
            ]
        ]
    },
    {
        "id": "f60acd86f4798f47",
        "type": "mqtt in",
        "z": "2217c56c.71908a",
        "name": "",
        "topic": "/elec/voltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b7cd95103905f99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 660,
        "wires": [
            [
                "bdfd22aef87fd74c",
                "41559271a41fc5a0"
            ]
        ]
    },
    {
        "id": "e2287e12f972060d",
        "type": "mqtt in",
        "z": "2217c56c.71908a",
        "name": "",
        "topic": "/elec/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b7cd95103905f99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 720,
        "wires": [
            [
                "b148db7bab03e05e",
                "73841c21bd168785"
            ]
        ]
    },
    {
        "id": "2d6abbead792bb85",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "Current Count",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 600,
        "wires": []
    },
    {
        "id": "bdfd22aef87fd74c",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "Voltage Count",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 660,
        "wires": []
    },
    {
        "id": "b148db7bab03e05e",
        "type": "debug",
        "z": "2217c56c.71908a",
        "name": "Power Count",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 720,
        "wires": []
    },
    {
        "id": "1fd6eadbd5da1b37",
        "type": "influxdb out",
        "z": "2217c56c.71908a",
        "influxdb": "e74c84989c7ea029",
        "name": "current passthrough",
        "measurement": "current",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "solgaleo",
        "bucket": "meross",
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "41559271a41fc5a0",
        "type": "influxdb out",
        "z": "2217c56c.71908a",
        "influxdb": "e74c84989c7ea029",
        "name": "voltage passthrough",
        "measurement": "voltage",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "solgaleo",
        "bucket": "meross",
        "x": 1060,
        "y": 660,
        "wires": []
    },
    {
        "id": "73841c21bd168785",
        "type": "influxdb out",
        "z": "2217c56c.71908a",
        "influxdb": "e74c84989c7ea029",
        "name": "power passthrough",
        "measurement": "power",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "solgaleo",
        "bucket": "meross",
        "x": 1050,
        "y": 720,
        "wires": []
    },
    {
        "id": "bafa5978e1b68521",
        "type": "meross-config",
        "name": "Prise_Solgaleo",
        "key": "055e017829284a3bcc7498f1f11fb822"
    },
    {
        "id": "2b7cd95103905f99",
        "type": "mqtt-broker",
        "name": "MQTT_RPI",
        "broker": "192.168.1.5",
        "port": "8883",
        "tls": "323d7dad7973a90f",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e74c84989c7ea029",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "solgaleo",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.5:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "323d7dad7973a90f",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "192.168.1.5",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]